@charset "ISO-8859-1";

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.flex-container {
    background-color: #eee;
  
    padding: 2em 3em ;
}
.flex-container > div{
    font-size: 1.23em;
    padding-bottom: 1rem;
}

button {
    cursor: pointer;
    width: 120px;
    border-color:black;
    padding: 0.3em;
}
.flex-items button:not(:first-child) {
    margin-left: 1rem;
}

li {
    list-style: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*formulaire modification*/
.input-modif {
    margin-top: 0.6rem;
    padding: 0.4em;
}


.modif-retour {
	margin-left:9rem;
	margin-top:0.3rem;
	
}




.form_bloc {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #eee;
    
    padding: 2em;
    text-align: center;
}
.input_type {
    transform:translateX(20px);
}
#modifier {
    /*transform:translateX(95px);
    padding: 0.4em;*/
    transform: translateX(71px);
    padding: 0.4em;
    margin-top: 1rem;


}


.form_bloc2 {
    width: 40%;
    margin: 0 auto;
    background-color: #eee;
    padding: 2em;
    text-align: center;
    
}
.entete {
    display: block;
}
#submit {
    transform:translateX(10px);
}
td {
    border: 1px solid black;
    width: 20%;
  padding: 10px;
  text-align: left;
}

table {
    width: 100%;
    margin: 1rem auto;
    border-collapse: collapse; 
}

td a {
  
   text-align: center;
}

.lien-icon {
	text-align:center
}


.btn_ajouter {
	text-align:end;
}
.titre-media {
    
    margin-left: -7rem;
    font-size: 36px;
}

.recherche{
    width: 409px;
    margin-left: -8rem;
}
.recherche_ok {
    width: 53px;
}

#media {
    margin-left: 33rem;
    width: 82px;
}
button {
    padding: 0.3em;
}

#popup {
    display: flex;
    align-content: center;
}

.select-type {
    padding: 0.4em ;
    width: 173px;
    transform: translateX(31px);

}

#ajouter {
    margin-top: 1.3rem;
    margin-left: 11rem;
    width: 82px;
}




#resume{
    transform: translateX(12px);
}
.resume {
    margin-left: 1.3rem;
}

h2{
    font-weight: bold;
    text-align: center;
    margin-left: 6rem;
}

.consultation-block {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 2em 0;

}

/*formulaire consultation*/

.form-consultation h2    {
    text-align: center;
 
}
.span_type   {
    padding-left: 1.3rem;
 
}
.form-consultation-modifier{
    text-align: end;
    padding-top: 1em;
}


.input-align {
	transform:translateX(20px);
}


.consult-retour {
	transform: translateY(-21px)!important;
	margin-left:3rem
}

/*formulaire ajout*/

.ajout-container {
    display: flex;
    justify-content: center;
    background-color: #eee;
    width: 405px;
    margin: 0 auto ;
}

select {
    width: 108px;
    margin-left: 1.3rem;
    padding: 0.12em;
}

label {
    margin-right: 1rem;
}

.input-titre-ajout {
    width: 100px;
    margin-left: 1.3rem;

}
.flex-element {
    padding-bottom: 0.5rem;
}

#ajouter {
    margin-left: 12rem;
    padding: 0.2em 0.9em;
    margin-bottom: 1rem;

}

.lien-retour {
	font-size: 14px;
    transform: translateY(-47px);
    display: block;
    text-decoration: none;
    color: black;
    background-color: gray;
    width: 76px;
    text-align: center;
    border: 1px solid black;
    padding: 0.2em;
}

/** pour les dialog jquery ui */

.dialogstyleperso .ui-state-question,

.dialogstyleperso .ui-state-neutral {
    border: 1px solid #d4ccb0;
    background: #f6f4ed;   
    padding: 2px 6px;
    border-radius: 5px;
}


a {
	text-decoration:none;
}





