@charset "ISO-8859-1";

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.flex-container {
    background-color: #eee;
  
    padding: 2em 3em ;
}
.flex-container > div{
    font-size: 1.23em;
    padding-bottom: 1rem;
}

button {
    cursor: pointer;
    width: 120px;
    border-color:black;
    padding: 0.3em;
}
.flex-items button:not(:first-child) {
    margin-left: 1rem;
}

li {
    list-style: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
input {
    margin-top: 1.3rem;
    padding: 0.4em;
}
.form_bloc {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #eee;
    
    padding: 2em;
    text-align: center;
}
.input_type {
    transform:translateX(20px);
}
#modifier {
    /*transform:translateX(95px);
    padding: 0.4em;*/
    transform: translateX(71px);
    padding: 0.4em;
    margin-top: 1rem;


}


.form_bloc2 {
    width: 40%;
    margin: 0 auto;
    background-color: #eee;
    padding: 2em;
    text-align: center;
    
}
.entete {
    display: block;
}
#submit {
    transform:translateX(10px);
}
td {
    border: 1px solid black;
    width: 20%;
  padding: 10px;
  text-align: left;
}

table {
    width: 100%;
    margin: 1rem auto;
    border-collapse: collapse; 
}

td a {
  
   text-align: center;
}

.lien-icon {
	text-align:center
}


.btn_ajouter {
	text-align:end;
}
.titre-media {
    
    margin-left: -7rem;
    font-size: 36px;
}

.recherche{
    width: 409px;
    margin-left: -8rem;
}
.recherche_ok {
    width: 53px;
}

#media {
    margin-left: 33rem;
    width: 82px;
}
button {
    padding: 0.3em;
}

#popup {
    display: flex;
    align-content: center;
}

.select-type {
    padding: 0.4em ;
    width: 173px;
    transform: translateX(31px);

}

#ajouter {
    margin-top: 1.3rem;
    margin-left: 11rem;
    width: 82px;
}


.input_ajouter input    transform: translateX(33px); {


}

#resume{
    transform: translateX(12px);
}
.resume {
    margin-left: 1.3rem;
}

h2{
    font-weight: bold;
    text-align: center;
    margin-left: 6rem;
}

.consultation-block {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 2em 0;

}

/*formulaire consultation*/

.form-consultation h2    {
    text-align: center;
 
}
.span_type   {
    padding-left: 1.3rem;
 
}
.form-consultation-modifier{
    text-align: end;
    padding-top: 1em;
}


.input-align {
	transform:translateX(20px);
}

/*formulaire ajout*/

.form-ajout h2 {
	text-align: center;
	
}
.form-ajout-ajouter {
	text-align: end;
    padding-top: 1em;
}

/** pour les dialog jquery ui */

.dialogstyleperso .ui-state-information {
    border: 1px solid #2c2f81;
    background: #3774a0;   /* bleu - pour anciens navigateurs */
    background: -moz-linear-gradient(top, #3774a0 0%, #3774a0 55%, #316e9b 57%, #316e9b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3774a0 0%,#3774a0 55%,#316e9b 57%,#316e9b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3774a0 0%,#3774a0 55%,#316e9b 57%,#316e9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3774a0', endColorstr='#316e9b',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 5px;
}



.dialogstyleperso .ui-state-warning {
    border: 1px solid #e36802;
    background: #fd8119;   /* orangé - pour anciens navigateurs */
    background: -moz-linear-gradient(top, #fd8119 0%, #fd8119 55%, #f8790f 57%, #f8790f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fd8119 0%,#fd8119 55%,#f8790f 57%,#f8790f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fd8119 0%,#fd8119 55%,#f8790f 57%,#f8790f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8119', endColorstr='#f8790f',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 5px;
}



.dialogstyleperso .ui-state-error {

    border: 1px solid #cd0a0a;
    background: #c71515;   /* rouge framboise - pour anciens navigateurs */
    background: -moz-linear-gradient(top, #c71515 0%, #c71515 55%, #b71d1d 57%, #b71d1d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c71515 0%,#c71515 55%,#b71d1d 57%,#b71d1d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c71515 0%,#c71515 55%,#b71d1d 57%,#b71d1d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c71515', endColorstr='#b71d1d',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 5px;
}



.dialogstyleperso .ui-state-question,

.dialogstyleperso .ui-state-neutral {
    border: 1px solid #d4ccb0;
    background: #f6f4ed;   /* beige - pour anciens navigateurs */
    background: -moz-linear-gradient(top, #f6f4ed 0%, #f6f4ed 55%, #f0ede1 57%, #f0ede1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f6f4ed 0%,#f6f4ed 55%,#f0ede1 57%,#f0ede1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f6f4ed 0%,#f6f4ed 55%,#f0ede1 57%,#f0ede1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f4ed', endColorstr='#f0ede1',GradientType=0 ); /* IE6-9 */
    padding: 2px 6px;
    border-radius: 5px;
}



.dialogstyleperso .ui-dialog-titlebar-close {
    top: 12px;
}
.dialogstyleperso .ui-dialog-titlebar-close::before {
    content: "\274c";
    font-weight: bold;
    font-size: 0.8em;
}


