<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
<title>Ajout de media</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="ajout-container">
        <div class="box-ajout">
            <h2>Ajout média</h2>
            <form  method="POST" th:action="@{/addMedia}" th:object="${mediaForm}">
                <div class="flex-element ">
                    <label for="type">Type :</label>
                    <select required th:field="${mediaForm.idTypeMedia}">
                         <option value=""> -- </option>
                         <option th:each="typeMedia : ${typesMedia}"
                            th:value="${typeMedia.idTypeMedia}"
                            th:utext="${typeMedia.typeMedia}"></option>
                        
                  </select>
                </div>
                <div class="flex-element">
                    <label for="titre">Titre :</label>
                    <input class="input-titre-ajout" required type="text" th:field="${mediaForm.title}">
                </div>
               
                <div class="flex-element">
                    <label for="type" >Résumé :</label>
                    <textarea required  th:field="${mediaForm.description}" rows="2" cols="12" ></textarea>
                </div>
               
                <div class="flex-element">
                <button type="submit" id="ajouter">Ajouter</button>
               
                </div>
                
                
                <div class="flex-element">
               
                
                     <a th:href="@{/index}"  class="lien-retour">RETOUR</a>
             
               
                </div>
                
                
               
            </form>
            
        </div>
   
    </div>

                   
</body>
</html>