<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>FormConsultation</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="consultation-block">
        <div name="form_co" class="form-consultation">
            <h2>Consultation de media</h2>

            <div class="label-bloc">
                <label for="type">Type :</label>
                <span class="span_type" id="type" th:text="${media.typeMedia.typeMedia}"></span>
                    
            </div>

            <div class="label-bloc">
                <label for="titre">Titre :</label>
                <span class="span_type" id="titre" th:text="${media.title}"></span>

            </div>

            <div class="label-bloc">
                <label for="description">Resume :</label>
                <span  id="description"
                    th:text="${media.description}"></span>
            </div>

            <div class="form-consultation-modifier">
                <a th:href="@{'/displayUpdateMedia/' + ${media.id}}">Modifier</a>
                
            </div>

        </div>
    </div>


                   
</body>
</html>