<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
	<title>Accueil</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css"/>
	<script src="js/popupDialog.js"></script>
	<script src="js/jQuery.js"></script>
	<script src="js/jquery-ui.js"></script>
</head>
<body>
	<div class="form_bloc2">
        <h2 class="titre-media">Mediatheque des Deux-Sevre</h2>

	<form th:action="@{/findMedia}" th:object="${findMediaForm}" method="POST">
		<input  class="recherche" type="text" th:field="${findMediaForm.title}" placeholder="Rechercher">
		
		<button type="submit" class="recherche_ok" >OK</button>
	</form>
	<table border="1">
		<tr th:each="media : ${medias}">
			<td th:utext="${media.title}">...</td>
			<td class="lien-icon">
				<a th:href="@{'/consultmedia/' + ${media.id}}"><img th:src="@{/images/consult.png}" /></a>
				<a th:href="@{'/displayUpdateMedia/' + ${media.id}}"><img th:src="@{/images/edit.png}" /></a>
				<a th:class="deletemedia" th:id="@{${media.id}}"><img th:src="@{/images/delete.png}" /></a>
			</td>
		</tr>
	</table>
	  <div class="btn_ajouter" > <a th:href="@{'/displayAddMedia'}">Ajouter</a>  </div>
	</div>

	<script>
		$(".deletemedia").click(function (event) {
			// th:href="@{'/deletemedia/' + ${media.id}}"
			event.preventDefault();
			console.log('id ', this.id);
			let  lien = "./deletemedia/" + this.id;
			afficherPopupConfirmationLien('voulez vous supprimer le media ? ', lien);
		})
	</script>
</body>
</html>