<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modif_media</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="form_bloc">
            <h2>Modif média</h2>
            <form   name="form_Ajout" action="" method="POST">
        
                    <label for="type">Type :</label>
                    <select id="type" name="type" class="select-type">
					    <option value="livre">Livre</option>
					    <option value="cd">CD</option>
					    <option value="dvd">DVD</option>
					    <option value="magazine">Magazine</option>
				    </select>

                
                <div class="input_ajouter">
                    <label for="titre">Titre :</label>
                    <input  id="titre" name="titre" type="text" placeholder="titre" />
                </div>
               
                <div class="input_ajouter">
                    <label for="type" class="resume">Résumé :</label>
                    <input id="resume" name="resume" type="text" placeholder="resume" />
                </div>
                <button type="submit" id="ajouter">Modifier</button>
                
            </form>
        </div>
    
    </div>

                   
</body>
</html>