<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
<title>Modification de media</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="container">
        <div class="form_bloc">
            <h2>Modification de média</h2>
            <form th:action="@{/updateMedia}" th:object="${mediaForm}" method="POST">
            
                    <label for="type">Type :</label>
                    <input class="input-align  input-modif"   type="text" th:field="${mediaForm.idTypeMedia}" readonly="readonly">

                
                <div class="input_ajouter">
                    <label for="titre">Titre :</label>
                    <input class="input-align input-modif"  type="text" th:field="${mediaForm.title}">
                </div>
               
                <div class="input_ajouter">
                    <label for="type" class="resume">Résumé :</label>
                    <input    class="input-modif"  type="text" th:field="${mediaForm.description}">
                </div>
                 
                <input   type="hidden" th:field="${mediaForm.idMedia}" class="input-modif">
                
                <button type="submit" id="ajouter">Modifier</button>
                
               
                
            </form>

            <div class="flex-element">
               
                
                     <a th:href="@{/index}"  class="lien-retour modif-retour">RETOUR</a>
             
               
                </div>
        </div>
    
    </div>

                   
</body>
</html>